@import "tailwindcss";
@import './buttons/style.css';
@import './inputs/input-common.css';
@import "tailwindcss-primeui";

@tailwind utilities;

@theme {
  --color-purple-primary: #6750A4;
  --color-white-neutral-c: #F5F5F5;
}

@layer base {
  html {
    font-family: 'Roboto', sans-serif, Arial, Helvetica
  }
}